body {
  margin: 0;
  padding: 100px 10px 10px 0;
  font-family: 'Jua', sans-serif;
  font-size: 20px;
  background: tan;
  background-image: url("/images/shed.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumb {
  padding: 5px;
  display: inline-block;
  background-color: #BEEB9F;
  width: 100%;
  border-radius: 30px;
}

.form-control {
  font-size: 25px;
  padding: 5px;
  background-color: #FFFF9D;
  width: 100%;
  border-radius: 30px;
}

th {
  animation: size-in 1s ease 1;
}

.fas {
  cursor: pointer;
  animation: spin 4s ease 1;
}

.btn {
  font-size: 30px;
  border-radius: 30px;
}

.table {
  font-size: 30px;
  border-radius: 30px;
  background-color: #00A388;
}



    /* font-family: 'Oxygen', sans-serif; */
    /* font-family: 'Jua', sans-serif; */
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Concert One', cursive; */
    /* font-family: 'Cabin Sketch', cursive; */
    /* font-family: 'Fredericka the Great', cursive; */
    /* font-family: 'Bungee Inline', cursive; */



/* Animations */
@keyframes size-in {
    from {
      transform: scale(.1);
    }
    to {
      transform: scale(1);
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
